<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   <add name="DefaultConnection"
         connectionString="Server=27.71.25.67;Database=KaraBaoHanTest;User Id=sa;Password=Alibaba@123654;MultipleActiveResultSets=true;Trusted_Connection=true;Encrypt=false;TrustServerCertificate=true;Integrated Security=false"
         providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection"
         connectionString="Server=NGHIA-GM;Database=KaraBaoHang;Trusted_Connection=True;Encrypt=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings>	  
	  <add key="LoginFile" value="D:\Projects\OnGit\Karaoke_BaoHan\WinApp\\Lg.txt"/>
    <add key="ExcelExportPath" value="C:\ExcelExportPath" />
    <add key="BillExportPath" value="D:\BAOHAN-BILL-PDF" />
    <add key="ImageLibaryPath" value="D:\Projects\OnGit\Karaoke_BaoHan\WinApp\imgs" />
  </appSettings>
</configuration>